@import 'tailwindcss';

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  height: 100%;
}
